<div class="limiter">
    <div class="container-login100">
        <form [formGroup]="form">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt style="display: flex;justify-content: center;width: 100%;">
                    <img src="../../../assets/img/img-01.png" alt="IMG">
                </div>
                <span class="login100-form-title">
                    Authentification
                </span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" placeholder="Pseudo" formControlName="pseudo">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="pass" formControlName="password" placeholder="Mot de passe">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="error-wrapper" style="display: flex;justify-content: center;width: 100%;">
                    <label *ngIf="error">
                        {{error}}
                    </label>
                </div>

                <div class="container-login100-form-btn">
                    <span class="login100-form-btn" style="cursor: pointer;" (click)="handlelogin()">
                        Login
                    </span>
                </div>

            </div>
        </form>
    </div>
</div>