<div class="list">
  <label for="">List Film</label>
</div>
<div style="display: flex;">
<div class="add" >
  <button type="button" (click)="sortYear()">par année</button>
</div>
<div class="add" >
  <button type="button" (click)="sortGenre()">par genre</button>
</div>
<div class="add" >
  <button type="button" (click)="sortLang()">par langue</button>
</div>
<div class="add" *ngIf="role == 'Admin'">
  <button type="button" (click)="showModal()">Ajouter un film</button>
</div>
</div>

<div style="display: flex;flex-wrap: wrap;">
  <div class="test" *ngFor="let item of listFilm; let i = index">

    <div class="wrapper">
      <div class="main_card">
        <div class="card_left">
          <div class="card_datails">
            <h1>{{item.name}}</h1>
            <div class="card_cat">
              <p class="year">{{item.year}}</p>
              <p class="genre">{{item.genre}} </p>
              <p class="time">{{item.time}}</p>
            </div>
            <p class="disc">{{item.disc}}</p>
            <div class="social-btn">
              <!-- WATCH TRAILER-->
              <a *ngIf="role == 'Admin'" nz-popconfirm nzPopconfirmTitle="Are you sure delete this film?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="confirm(i)" (nzOnCancel)="cancel()">
              Delete
            </a>
           <a *ngIf="role == 'Admin'" style="margin-left: 10px;" (click)="editModal(i)"> Edit</a>
             <a *ngIf="role == 'abonne'" style="margin-left: 10px;" (click)="addToFavori(item.id)"> Favoris</a>
            </div>
          </div>
        </div>
        <div class="card_right">
          <div class="img_container">
            <img src="{{item.img}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="role == 'abonne'" >
  <div class="list">
    <label for="">List Favoiris</label>
  </div>
  <div style="display: flex;flex-wrap: wrap;">
    <div class="test" *ngFor="let item of listFav; let i = index">

      <div class="wrapper">
        <div class="main_card">
          <div class="card_left">
            <div class="card_datails">
              <h1>{{item.name}}</h1>
              <div class="card_cat">
                <p class="year">{{item.year}}</p>
                <p class="genre">{{item.genre}} </p>
                <p class="time">{{item.time}}</p>
              </div>
              <p class="disc">{{item.disc}}</p>
              <div class="social-btn">
                <!-- WATCH TRAILER-->
             <a *ngIf="role == 'abonne'" style="margin-left: 10px;" (click)="addToFavori(item.id)"> Favoris</a>
              </div>
            </div>
          </div>
          <div class="card_right">
            <div class="img_container">
              <img src="{{item.img}}" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Modal Add Film-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Ajouter un film" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <form [formGroup]="addForm">

      <input formControlName="name" class="input-wrapper" nz-input placeholder="Nom du film" />
      <input formControlName="years" class="input-wrapper" nz-input placeholder="Date de sortie du film" />
      <input formControlName="genre" class="input-wrapper" nz-input placeholder="Genre du film" />
      <input formControlName="disc" class="input-wrapper" nz-input placeholder="Description du film" />
      <input formControlName="time" class="input-wrapper" nz-input placeholder="time" />
    </form>
  </ng-container>
</nz-modal>
<!--Modal Edit Film-->
<nz-modal [(nzVisible)]="modalEdit" nzTitle="Edit un film" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOkEdit()">
  <ng-container *nzModalContent>
    <form [formGroup]="editForm">

      <input formControlName="name" class="input-wrapper" nz-input placeholder="Nom du film" />
      <input formControlName="years" class="input-wrapper" nz-input placeholder="Date de sortie du film" />
      <input formControlName="genre" class="input-wrapper" nz-input placeholder="Genre du film" />
      <input formControlName="disc" class="input-wrapper" nz-input placeholder="Description du film" />
      <input formControlName="time" class="input-wrapper" nz-input placeholder="time" />
    </form>
  </ng-container>
</nz-modal>

